* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: #635854;
  border-bottom: 4px solid #3596F5;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
  padding: 9px 16px;

}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-item__active {
  background: #3596F5;
}

.navbar-contacts {
  text-align: right;
  font-size: 14px;
}

.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
}

.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

/** main */

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 100px;
  display: flex;
  flex: 1 1 auto;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.home-image path {
  cursor: pointer;
}

.path-hide {
  opacity: 0;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 116px 0;
}

.counter-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  font-family: "Bebas", sans-serif;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 100;
  color: #635854;
  line-height: 37px;
}

.counter {
  font-family: "Bebas", sans-serif;
  font-size: 124px;
  font-weight: 100;
  color: #635854;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-primary {
  background: #3596F5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  font-size: 16px;
  cursor: pointer;
}

.btn-disabled {
  opacity: 0.3;
  filter: saturate(0.6);
  cursor: not-allowed;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-hidden {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
}

.modal-inner {
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.modal-title {
  font-family: "Bebas", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  width: 40%;
  padding: 50px 46px;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item {
  margin-bottom: 10px;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover {
  color: #3596F5;
  text-decoration: underline;
}

.modal-alert {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 55px;
}

.modal-close {
  position: absolute;
  top: 38px;
  right: 27px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.close-modal {
  cursor: pointer;
  padding: 10px;
}

.flats path {
  cursor: pointer;
}

.flat-hidden {
  opacity: 0;
}

.apart-chose {
  color: #3596F5;
  text-decoration: underline;
}

/* footer */

.footer {
  background-color: #D7D7D7;
  border-top: 4px solid #3596F5;
  color: #635854;
  padding: 50px 80px;
}

.footer-inner {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-call {
  margin-left: 37px;
}

.title-call {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
}

.footer-number {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #635854;
  text-decoration: none;
}

.footer-contacts {
  display: flex;
  align-items: center;
}

.footer-social {
  list-style: none;
}

.footer-social-item {
  display: inline-block;
  margin-left: 15px;
}

.footer-text {
  list-style: none;
}

.footer-text-item {
  display: inline-block;
  margin-left: 20px;
}

.footer-text-link {
  color: #635854;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  vertical-align: middle;
}